<!DOCTYPE html>
<html lang="en">
    <head>
        <title><%= title %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body>
        <div id="box">
            <%- include('templates/headerAndNav.ejs') %>

            <section id="main-section">
                <p>Welcome to Learn JavaScript, a website that will teach you basic JavaScript knowledge concepts, such as variables, loops, conditional statements, and functions.</p>
            </section>
        </div>

        <script src="/scripts/main.js"></script>
    </body>
</html>