<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Learn JavaScript - <%= title %></title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/styles/main.css">
    </head>

    <body>
        <div id="box">
            <%- include('templates/headerAndNav.ejs') %>
        </div>

        <script src="/scripts/main.js"></script>
    </body>
</html>