<header id="main-header">
    <h1><%= title %></h1>
    <img src="/images/js_logo.png" width="10%">
</header>

<nav id="main-nav">
    <ul>
        <li><a class="nav-link" href="/">Home</a></li>
        <li><a class="nav-link" href="/variable">Variables</a></li>
        <li><a class="nav-link" href="/conditional">Conditionals</a></li>
        <li><a class="nav-link" href="/loop">Loops</a></li>
        <li><a class="nav-link" href="/function">Functions</a></li>
    </ul>
</nav>