<section id="main-section">
    <div id="sub-header">
        <h2>Overview</h2><hr>
    </div>

    <div class="section-div">
        <p>Loops are blocks of code that execute over and over again while a certain condition is true. There are three different loops: for, while, and do-while.</p>
    </div>

    <div id="sub-header">
        <h2>For loops</h2><hr>
    </div>

    <div class="section-div">
        <p>For loops are a type of loop that use a number variable, a boolean expression, and an arithmetic operation to control the number of times the loop executes.</p>

        <blockquote class="code-block">
            <span>
                <p>for (let i = 0; i &lt; 5; i++) {</p>
                <p>&emsp;&emsp;&emsp;&emsp;console.log(i);</p>
                <p>}</p>
            </span>
        </blockquote>
    </div>

    <div id="sub-header">
        <h2>While loops</h2><hr>
    </div>

    <div class="section-div">
        <p>While loops are similar to for loops, with the only difference being that the while loop only requires a boolean expression.</p>
        
        <blockquote class="code-block">
            <span>
                <p>let counter = 10;</p>
                <br>
                <p>while (counter > 0) {</p>
                <p>&emsp;&emsp;&emsp;&emsp;console.log(counter);</p>
                <p>&emsp;&emsp;&emsp;&emsp;counter--;</p>
                <p>}</p>
            </span>
        </blockquote>
    </div>

    <div id="sub-header">
        <h2>Do-while loops</h2><hr>
    </div>

    <div class="section-div">
        <p>The only difference between a while and a do-while loop is that a do-while loop executes once before checking if the condition is true.</p>

        <blockquote class="code-block">
            <span>
                <p>let counter = 10;</p>
                <br>
                <p>do {</p>
                <p>&emsp;&emsp;&emsp;&emsp;console.log(counter);</p>
                <p>&emsp;&emsp;&emsp;&emsp;counter--;</p>
                <p>} while (counter > 0);</p>
            </span>
        </blockquote>
    </div>
</section>